@font-face {
  font-family: "europe-cond";
  src: url("../fonts/EuropeCond/EuropeCond.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "europe-cond";
  src: url("../fonts/EuropeCond/EuropeCond-Italic.otf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "europe-cond";
  src: url("../fonts/EuropeCond/EuropeCond-Bold.otf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "europe-cond";
  src: url("../fonts/EuropeCond/EuropeCond-Bold-Italic.otf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
