@keyframes shaking {
	@for $i from 0 through 100 {
		@if ($i % 2 == 0) {
			@if (percentage($i / 100) <= 100) {
				#{percentage($i / 100)} {
					transform: translate(random(5)+px, random(5)+px);
				}
			}
		}
	}
}

@keyframes glitch-before {
	@for $i from 0 through 100 {
		@if ($i % 5 == 0) {
			#{percentage($i / 100)} {
				clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			}
		}
	}
}

@keyframes glitch-after {
	@for $i from 0 through 100 {
		@if ($i % 5 == 0) {
			#{percentage($i / 100)} {
				clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			}
		}
	}
}

@keyframes is-off {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	56% {
		opacity: 0;
	}
	57% {
		opacity: 0;
	}
	58% {
		opacity: 1;
	}
	71% {
		transform: scaleY(1) skewX(0deg);
	}
	72% {
		transform: scaleY(3) skewX(-60deg);
	}
	73% {
		transform: scaleY(1) skewX(0deg);
	}
	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
	91% {
		transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	}
	92% {
		transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		color: #008000;
	}
	93% {
		transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	}
}

@keyframes move-light {
	0% {
		transform: translateX(-500px) skewX(-45deg)
	}
	80% {
		transform: translateX(500px) skewX(-45deg)
	}

	100% {
		transform: translateX(500px) skewX(-45deg)
	}
}

@keyframes flare {
	0% {
		left: -200%;
	}
	60% {
		left: 200%;
	}

	100% {
		left: 200%;
	}
}

@keyframes marquee {
	100% {
		transform: translateX(-100%);
	}
}

@keyframes glitch-anim-2 {
	0% {

		opacity: 1;
		transform: translate3d(var(--g_gap-horizontal), 0, 0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);

	}
	2% {

		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);

	}
	4% {

		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);

	}
	6% {

		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);

	}
	8% {

		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);

	}
	10% {

		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);

	}
	12% {

		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);

	}
	14% {

		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);

	}
	16% {

		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);

	}
	18% {

		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);

	}
	20% {

		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);

	}
	21.9% {

		opacity: 1;
		transform: translate3d(var(--g_gap-horizontal), 0, 0);

	}
	22%, 100% {

		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);

	}
}

@keyframes glitch-anim-3 {
	0% {

		opacity: 1;
		transform: translate3d(calc(-1 * var(--g_gap-horizontal)), 0, 0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);

	}
	3% {

		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);

	}
	5% {

		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);

	}
	7% {

		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);

	}
	9% {

		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);

	}
	11% {

		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);

	}
	13% {

		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);

	}
	15% {

		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);

	}
	17% {

		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);

	}
	19% {

		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);

	}
	20% {

		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);

	}
	21.9% {

		opacity: 1;
		transform: translate3d(calc(-1 * var(--g_gap-horizontal)), 0, 0);

	}
	22%, 100% {

		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-4 {
	0% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--g_gap-vertical)), 0) scale3d(-1, -1, 1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--g_gap-vertical)), 0) scale3d(-1, -1, 1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);

	}
}

@keyframes img-glitching-shaking {
	@for $i from 0 through 100 {
		@if ($i % 2 == 0) {
			@if (percentage($i / 100) <= 100) {
				#{percentage($i / 100)} {
					background-position: random(20)-10+px random(20)-10+px;
				}
			}
		}
	}
}

:root {
	--g_color-text: #fff;
	--g_color-bg: #000;
	--g_color-link: #f9d77e;
	--g_color-link-hover: #fff;
	--g_color-info: #efc453;
	--g_glitch-width: 100vw;
	--g_glitch-height: 100vh;
	--g_gap-horizontal: 10px;
	--g_gap-vertical: 5px;
	--g_time-anim: 4s;
	--g_delay-anim: 0;
	--g_blend-mode-1: none;
	--g_blend-mode-2: none;
	--g_blend-mode-3: none;
	--g_blend-mode-4: none;
	--g_blend-mode-5: overlay;
	--g_blend-color-1: transparent;
	--g_blend-color-2: transparent;
	--g_blend-color-3: transparent;
	--g_blend-color-4: transparent;
	--g_blend-color-5: transparent;
}

@mixin glitch-sample {

	.glitch__item {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.glitch__item:nth-child(n+2) {
		opacity: 0;
		animation-duration: var(--g_time-anim);
		animation-delay: var(--g_delay-anim);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.glitch__item:nth-child(2) {
		background-color: var(--g_blend-color-2);
		background-blend-mode: var(--g_blend-mode-2);
		animation-name: glitch-anim-2;
	}

	.glitch__item:nth-child(2) {
		background-color: var(--g_blend-color-3);
		background-blend-mode: var(--g_blend-mode-3);
		animation-name: glitch-anim-3;
	}

	.glitch__item:nth-child(4) {
		background-color: var(--g_blend-color-4);
		background-blend-mode: var(--g_blend-mode-4);
		animation-name: glitch-anim-4;
	}

	.glitch__item:nth-child(5) {
		background-color: var(--g_blend-color-5);
		background-blend-mode: var(--g_blend-mode-5);
		animation-name: glitch-anim-flash;

		@keyframes glitch-anim-flash {
			0%, 5% {
				opacity: 0.2;
				transform: translate3d(var(--g_glitch-horizontal), var(--g_glitch-height), 0)
			}
			5.5%, 100% {
				opacity: 0;
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.glitch__title {
		font-family: 'Bungee', cursive;
		font-size: 100px;
		color: #ffffff;
		position: relative;
		text-transform: uppercase;

		&:before,
		&:after {
			content: 'GLITCH';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		&:before {
			left: 2px;
			text-shadow: -1px 0 #00ffea;
			clip: rect(24px, 550px, 90px, 0);
			animation: glitch-anim 2s linear infinite alternate-reverse;
		}

		&:after {
			left: -2px;
			text-shadow: -1px 0 #fe3a7f;
			clip: rect(85px, 550px, 140px, 0);
			animation: glitch-anim 2s 1s linear infinite alternate-reverse;
		}

		@keyframes glitch-anim {
			$steps: 20;
			@for $i from 0 through $steps {
				#{percentage($i*(1/$steps))} {
					clip: rect(random(160)+px, 9999px, random(170)+px, 0);
				}
			}
		}
	}
}

@mixin standard-btn {
	border: 1px solid #474747;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	padding: .75vw 2.5vw .75vw 1vw;
	position: relative;
	transition: .5s ease-in-out;

	.btn-blink {
		z-index: 2;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 7%;
			height: 100%;
			background-color: rgba(#fff, 0.5);
			transform: translateX(-4em) skewX(-45deg);
			animation: move-light 4s infinite;
		}
	}

	.btn-hover__bg {
		z-index: 1;
		overflow: hidden;
		width: 96%;
		height: 90%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: .5s ease-in-out;

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: -500%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: $theme-color;
			transition: .5s ease-in-out;
		}
	}

	&:after {
		content: "";
		width: 35%;
		height: 2px;
		background: $theme-color;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(75%, -50%);
		z-index: 3;
		transition: .5s ease .25s;
	}

	&:hover {
		border-color: #ffffff;

		.btn-hover__bg {
			&:before {
				left: 50%;
			}
		}

		&:after {
			opacity: 0;
		}
	}

	.icon {
		color: #ffffff;
		font-size: 1.35vw;
		margin-right: 10px;
		z-index: 3;
		transform: translateY(10%);
	}

	.btn-text {
		z-index: 3;
		font-size: 1vw;
		font-weight: bold;
		line-height: 120%;
		text-transform: uppercase;
		color: #FFFFFF;
	}
}

@mixin section-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title {
		text-align: center;
		font-weight: bold;
		font-size: 2.15vw;
		line-height: 125%;
		letter-spacing: .001px;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 1vw;
	}
	.subtitle {
		text-align: center;
		font-size: 1.25vw;
		line-height: 130%;
		color: #000000;
	}
}

@mixin portfolio-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;

	.go-all-portfolio-wrapper {
		position: absolute;
		top: 0;
		right: -9.5%;
		height: 100%;
		display: flex;
		padding: 10vw 0;

		&.end {
			align-items: flex-end;
		}
	}

	.go-all-portfolio {
		width: 5.5vw;
		height: 5.5vw;
		border: 1px solid #161616;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		transform: translateY(0);
		z-index: 2;
		font-weight: bold;
		font-size: .9vw;
		line-height: 120%;
		text-transform: uppercase;
		color: #161616;
		transition: .5s ease;

		&.fixing {
			position: fixed;
			top: 50%;
			right: 1.5%;
			transform: translateY(-50%);
		}

		&:hover {
			border: 1px solid $theme-color;
			color: $theme-color;
		}
	}

	.portfolio-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 5.75vw;
		}

		.portfolio-item__text-wrapper {
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 42.5%;
			padding: 2.25vw 2.25vw 3vw;

			background: #F8F8F8;
			border: 0.5px solid #0C41FF;
			border-right: 0;
			position: relative;

			.categories__wrapper {
				position: absolute;
				top: 0;
				left: -.5px;
				transform: translateY(-99%);
				display: flex;
				align-items: flex-end;

				.categories-item {
					font-size: .95vw;
					line-height: 125%;
					text-transform: uppercase;
					color: #FFFFFF;
					background: $theme-color;
					border: .5px solid transparent;
					border-bottom: 2px solid transparent;
					border-radius: 6px 6px 0px 0px;
					padding: .75vw 1.5vw;
					transition: .35s ease-in-out;

					&:hover {
						background: transparent;
						color: $theme-color;
						border-color: $theme-color;
						border-bottom: 2px solid #ffffff;
					}

					&:not(:last-child) {
						margin-right: .25vw;
					}
				}
			}

			.title {
				font-size: 1.75vw;
				font-weight: bold;
				line-height: 126%;
				text-transform: uppercase;
				color: #000000;
				margin-bottom: .9vw;
				max-width: 75%;
			}

			.subtitle {
				font-style: italic;
				font-size: 1vw;
				line-height: 133%;
				color: #000000;
				margin-bottom: .75vw;
				max-width: 85%;
			}

			.excerpt {
				font-size: 1vw;
				line-height: 133%;
				color: #000000;
				margin-bottom: 1.25vw;
			}

			.standard-btn {
				@include standard-btn;
				padding: .75vw 3.75vw .75vw 4vw;

				&:hover {
					border-color: #474747;

					.btn-hover__bg {
						&:before {
							transform: translate(-50%, -50%);
						}
					}

					&:after {
						opacity: 0;
					}

					.btn-text {
						color: #ffffff;
					}
				}

				.btn-text {
					transition: .5s ease-in-out;
					color: #000000;
				}
			}
		}

		.portfolio-item__img-wrapper {
			overflow: hidden;
			flex-grow: 1;
			z-index: 2;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
			max-width: 57.5%;

			video {
				width: 100%;
				height: auto;
			}
		}

		&.reverse {
			.portfolio-item__text-wrapper {
				order: 2;
				border-right: 0.5px solid #0C41FF;
				border-left: 0;

				.categories__wrapper {
					left: auto;
					right: -.5px;
				}
			}

			.portfolio-item__img-wrapper {
				order: 1;
			}
		}
	}
}

@mixin load-more__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4.75vw;

	.icon {
		color: #0c41ff;
		font-size: 2.5vw;
		margin-bottom: .5vw;
	}

	.text {
		font-size: 1vw;
		line-height: 120%;
		font-weight: bold;
		text-transform: uppercase;
		color: #000000;
	}

	&:hover {
		.icon {

		}
	}
}

@mixin recent-post__wrapper {
	width: 100%;

	.recent-post__item {
		outline: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		padding-right: 0;
		margin: 0 10px;

		.date {
			background: $theme-color;
			color: #ffffff;
			font-weight: bold;
			font-size: 1vw;
			line-height: 120%;
			padding: .65vw 1.5vw;
			text-transform: uppercase;
			border-radius: 6px 6px 0px 0px;
		}

		.img-wrapper {
			width: 100%;
			overflow: hidden;
			box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);

			img {
				transition: .35s ease-in-out;
			}
		}

		.text-wrapper {
			margin-top: -2px;
			width: 100%;
			position: relative;
			box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);

			.text-wrapper__container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 1.5vw 1.5vw;
				z-index: 1;
				color: #ffffff;
				background: #0A0A0A;

				&.show {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 3;
					opacity: 0;
					transition: .35s ease-in-out;
				}
			}

			.categories {
				color: $theme-color;
				overflow: hidden;
				max-height: 0;
				transition: .35s ease-in-out;

				&__item {
					font-weight: bold;
					font-size: .8vw;
					line-height: 120%;
				}
			}

			.title {
				font-size: 1.05vw;
				line-height: 120%;
				text-transform: uppercase;
				font-weight: bold;
				transition: .35s ease-in-out;
			}

			.link-to-post {
				width: 100%;
				position: relative;
				font-size: .85vw;
				line-height: 120%;
				font-weight: bold;
				overflow: hidden;
				max-height: 0;
				transition: .35s ease-in-out;
				display: flex;
				align-items: center;

				&:after {
					content: "";
					background: $theme-color;
					width: 20%;
					height: 2px;
					margin-left: 1.7vw;
				}
			}
		}

		&:hover {

			.img-wrapper {

				img {

					transform: scale(1.1);
					opacity: .75;
				}
			}

			.text-wrapper {
				.text-wrapper__container {
					&.show {
						opacity: 1;

						.categories {
							margin-bottom: 1.2vw;
							max-height: 500px;
						}

						.title {
							margin-bottom: 1vw;
						}

						.link-to-post {
							max-height: 500px;
						}
					}
				}
			}
		}
	}
}

@mixin welcome-screen {
	background: $theme-background;
	padding: 6.5vw 0 0;

	.first-section__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.decor-text__bg {
		z-index: 0;
		font-weight: bold;
		font-size: 30vw;
		line-height: 100%;
		text-transform: uppercase;
		color: #FFFFFF;
		opacity: 0.02;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-30%);
	}

	.section-title {
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.title {
			font-weight: bold;
			font-size: 7.5vw;
			line-height: 100%;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-bottom: 1.5vw;
		}

		.subtitle {
			font-size: 1.05vw;
			line-height: 125%;
			color: #FFFFFF;
		}
	}

	.actions {
		display: flex;
		align-items: center;
		margin-right: 3.5vw;

		.standard-btn {
			@include standard-btn;
			padding: .9vw 2vw .9vw 1.5vw;
			margin-left: 4vw;

			.btn-text {
				font-size: 1.0025vw;
			}
		}

		.cv-download {
			z-index: 3;
			display: flex;
			align-items: center;

			.text {
				font-weight: bold;
				font-size: 1vw;
				line-height: 120%;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-right: 1vw;
			}

			.icon {
				color: $theme-color;
				font-size: .5vw;
			}
		}
	}

	.first-section__description {
		z-index: 3;
		background: url("../images/bg-welcome-screen.png") no-repeat center center / cover;
		padding: 4.35vw 5.25vw;
		width: 100%;
		font-weight: bold;
		font-size: 1.875vw;
		line-height: 125%;
		text-transform: uppercase;
		color: #FFFFFF;
		transform: translateY(50%);
		border-bottom: 5px solid $theme-color;
		box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
	}
}
