@import "node_modules/lity/dist/lity.min";
@import "node_modules/aos/src/sass/aos.scss";
@import "./node_modules/slick-carousel/slick/slick.scss";
@import "./node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/reset-css/sass/reset";
@import "common/icons";

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Anselm-Sans';
	src: url("../fonts/AnselmSans-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}


// default styles
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	width: 100vw;
	overflow-x: hidden;
	font-family: "Anselm-Sans", sans-serif;
}

.section-inner {
	display: flex;
	flex-direction: column;
	width: 71%;
	margin: 0 auto;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: inherit;
	}

}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;

	&:focus {
		outline: none;
	}
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

// end default styles

.first-screen {
	background: url("../images/first-screen_bg.jpg") no-repeat center center / cover;
	padding: 5vw 0 3.5vw;

	&__wrapper {
		display: flex;
		width: 100%;

		.text-wrapper {
			display: flex;
			flex-direction: column;
			width: 59%;
			color: #ffffff;

			.over-title {
				text-align: center;
				font-size: 1.15vw;
				line-height: 120%;
				margin-bottom: 3vw;
			}

			.title-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.title {
				text-align: center;
				font-size: 3.5vw;
				line-height: 120%;
				font-weight: bold;
				margin-bottom: 1.25vw;

			}

			.subtitle {
				text-align: center;
				font-size: 1.4vw;
				line-height: 120%;
				width: 45%;
				margin: 0 auto 3.5vw;

			}

			.quote-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 96%;
				margin: 0 auto;
			}

			.quote-text {
				text-align: justify;
				width: 100%;
				font-size: 1.4vw;
				line-height: 140%;
				margin-bottom: 1vw;
			}

			.quote-img {
				$quote_size: 14vw;

				overflow: hidden;
				width: $quote_size;
				height: $quote_size;
				border: .25vw solid #ffffff;
				border-radius: 50%;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.script-wrapper {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			width: 41%;

			.form-container {
				width: 90%;
			}
		}
	}
}

.actions {
	padding: 5vw 0;

	.section-inner {
		width: 74%;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		width: 20%;

		&:nth-child(2) {
			width: 30%;
		}

		&:nth-child(3) {
			width: 36%;
		}

		.icon-wrapper {
			margin-right: 1.4vw;
			color: #000000;

			.icon {
				font-size: 3vw;
			}
		}

		.text-wrapper {
			color: #000000;
			font-size: 1.45vw;
			line-height: 120%;
		}
	}
}

.link-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.btn-link {
		text-transform: uppercase;
		background: #FE0000;
		border-radius: 20px;
		color: #ffffff;
		font-size: 1.65vw;
		font-weight: 500;
		padding: 1vw 1.5vw;
		box-shadow: 3px 5px 6px -3px rgba(0, 0, 0, 1);
		transition: .2s ease-in-out;

		&:hover {
			box-shadow: 2px 3px 3px -1px rgba(0, 0, 0, .5);
		}
	}
}

.nuances-wrapper {
	display: flex;
	flex-wrap: wrap;

	.img-wrapper {
		position: relative;
		width: 50%;

		.img-caption {
			background: linear-gradient(90deg, #22364F 30%, #154E6B 100%);
			text-align: right;
			color: #ffffff;
			width: 67%;
			font-size: 1.5vw;
			line-height: 120%;
			padding: 2.75vw 10.5vw 2.5vw 1vw;
		}

		img {
			position: absolute;
			top: -30%;
			right: -1.5%;
			width: 59%;
		}
	}

	.text-wrapper {
		width: 50%;
		color: #000000;
		transform: translateY(-20%);

		.title {
			font-size: 1.75vw;
			line-height: 120%;
			font-weight: bold;
			padding-left: 1vw;
			margin-bottom: 2.5vw;
		}

		.subtitle {
			border-left: .15vw solid #000000;
			padding-left: 1vw;
			margin-left: 5.5vw;
			font-size: 1.6vw;
			line-height: 130%;
		}
	}

	.link-container {
		width: 100%;
	}
}

.gifts {
	background: linear-gradient(90deg, #919BA7 80%, #A5ACB6 100%);
	padding: 7vw 0 3.5vw;

	.section-inner {
		width: 74%;
	}

	.section-title {
		margin: 3.25vw 0 5vw;

		.title {
			color: #000000;
			font-size: 2.25vw;
			text-align: center;
			font-weight: 500;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		width: 100%;
	}

	&__item {
		width: 32%;

		img {

		}
	}
}

.knowledge {
	background: url("../images/3_bg.png") no-repeat center center / contain;
	padding: 5vw 0;

	.section-title {

		.title {
			width: 40%;
			font-size: 2.25vw;
			line-height: 125%;
			font-weight: 500;
			color: #000000;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		width: 112%;
		max-height: 32vw;

	}

	&__item {
		display: flex;
		align-items: flex-start;
		position: relative;
		width: 40%;
		padding-left: 2.5vw;
		margin-bottom: 2.75vw;
		color: #000000;

		&:first-child {
			margin-top: 2vw;
		}

		.counter {
			position: absolute;
			top: 5%;
			left: -8%;
			font-size: 2.75vw;
			margin-right: 1.5vw;
		}

		.text {
			font-size: 1.25vw;
			line-height: 125%;
			width: 22vw;
		}
	}

	&__bottom {
		display: flex;
		align-items: flex-start;
		margin-top: 5.25vw;

		.link-container {
			margin-right: 15.25vw;
		}

		.author {
			position: relative;
			max-width: 17vw;
			padding-left: 1.35vw;
			margin: 2vw 0;

			&:before {
				content: "";
				background: #000000;
				height: 125%;
				width: .1vw;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}


			.name {
				font-size: 2.35vw;
				font-weight: 500;
				margin-bottom: .5vw;
			}

			.position {

			}
		}
	}
}

.about {
	background: url("../images/gray_bg.jpg") no-repeat center center / cover;
	padding: 5vw 0 4vw;

	.section-inner {
		width: 74%;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;

		.img-wrapper {
			width: 52%;

			img {
				width: 73%;
				height: 100%;
			}
		}

		.text-wrapper {
			width: 48%;
			color: #ffffff;

			.achievements {
				list-style-type: disc;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;

				&__item {
					font-size: 1.45vw;
					line-height: 120%;

					&:not(:last-child) {
						margin-bottom: 1.75vw;
					}
				}
			}
		}
	}

	&__writing {
		display: flex;
		align-items: center;
		background: #CFD7DA;
		width: 100%;
		padding: .75vw 2vw;
		margin: 2.5vw 0 4vw;

		.guide {
			color: #000000;
			font-size: 1.85vw;
			margin-right: 1vw;
			white-space: nowrap;
		}
	}

	.writing-gallery {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__item {

			&:not(:last-child) {
				margin-right: 1vw;
			}
		}
	}

	.link-container {
		width: 100%;
	}
}

.reviews {
	padding: 3vw 0 5vw;

	.section-inner {
		width: 75%;
	}

	.section-title {
		margin-bottom: 4vw;

		.title {
			text-align: center;
			font-size: 2.25vw;
			font-weight: 500;
			font-style: italic;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 22vw;
		height: 15vw;
		margin: 0 1.5vw 4.1vw;

		.item-container {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			background: linear-gradient(to bottom, #002C41 35%, rgba(255, 255, 255, .1) 70%);
			width: 100%;
			height: 100%;
			transform-style: preserve-3d
		}

		.item-img {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 95%;
			height: 95%;

			img {
				height: 100%;
			}
		}

		.item-text {
			background: url("../images/smoke.png") no-repeat left bottom / cover;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 95%;
			height: 95%;
			transform: translate(-50%, -50%);
			padding: 1.5vw;
			color: #ffffff;

			.name {
				margin-bottom: .25vw;
				font-size: 1.5vw;
				font-style: italic;
			}

			.positions {
				width: 75%;
				font-size: 1vw;
				line-height: 125%;
				font-weight: 300;
				font-style: italic;
			}

			.separator {
				width: 45%;
				height: .1vw;
				background: #ffffff;
				margin: .25vw 0;
			}

			.comment {
				font-size: 1vw;
			}
		}

		.btn-play {
			$size: 2.5vw;

			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(50%, -50%);
			width: $size;
			height: $size;
			background: #ff0000;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			.icon {
				color: #ffffff;
				font-size: 1vw;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateX(10%);
			}
		}

		&.full-width {
			width: 100%;
			height: 29vw;

			.item-container {
				width: 59%;

				.item-text {
					padding: 1.65vw;

					.name {
						margin-bottom: .25vw;
						font-size: 3vw;
						font-style: italic;
					}

					.positions {
						font-size: 1.75vw;
					}

					.separator {
						width: 45%;
						margin: .75vw 0 1.25vw;
					}

					.comment {
						font-size: 1.8vw;
					}
				}
			}

			.btn-play {
				$size: 5vw;

				width: $size;
				height: $size;

				.icon {
					font-size: 2vw;
				}
			}
		}
	}
}

.nuances {
	background: linear-gradient(90deg, #919BA7 80%, #A5ACB6 100%);
	padding: 8.5vw 0 3vw;

	.section-inner {
		width: 74%;
	}
}

@media screen and (max-width: 768px) {

	.section-inner {
		width: 90%;
	}

	.first-screen {
		background: url("../images/fs_mobile_bg.jpg") no-repeat center center / cover;
		padding: 10vw 0 20vw;

		.section-inner {
			width: 100%;
		}

		&__wrapper {
			flex-direction: column;

			.text-wrapper {
				width: 100%;

				.over-title {
					font-size: 4vw;
					width: 90%;
					margin: 0 auto 5vw;
				}

				.title-wrapper {
					background: rgba(0, 0, 0, .4);
					padding: 5vw 0;
					margin: 0 auto 5vw;
				}

				.title {
					font-size: 8vw;
					width: 91%;
					margin: 0 auto 3.5vw;
				}

				.subtitle {
					width: 75%;
					font-size: 5vw;
					margin: 0 auto;

				}

				.quote-wrapper {
					width: 90%;
					margin-bottom: 10vw;
				}

				.quote-text {
					text-align: center;
					font-size: 4vw;
					margin-bottom: 5vw;
				}

				.quote-img {
					$quote_size: 50vw;

					width: $quote_size;
					height: $quote_size;
					border: 1.25vw solid #ffffff;
				}
			}

			.script-wrapper {
				width: 100%;

				.form-container {
					width: 90%;
					margin: 0 auto 5vw;

					& > div {
						transform: scale(1.065);
						transform-origin: left top;
					}
				}
			}
		}
	}

	.actions {
		padding: 15vw 0;

		.section-inner {
			width: 80%;
		}

		&__wrapper {
			flex-direction: column;
		}

		&__item {
			flex-direction: column;
			width: 100%;

			&:nth-child(2) {
				width: 100%;
			}

			&:nth-child(3) {
				width: 100%;
			}

			&:not(:last-child) {
				margin-bottom: 12.5vw;
			}

			.icon-wrapper {
				margin-right: 0;

				.icon {
					font-size: 12vw;
				}
			}

			.text-wrapper {
				text-align: center;
				font-size: 5vw;
			}
		}
	}

	.link-container {

		.btn-link {
			font-size: 4.25vw;
			padding: 3.5vw 4.5vw 3vw;
			white-space: nowrap;
		}
	}

	.nuances-wrapper {
		flex-direction: column;

		.img-wrapper {
			width: 100%;
			margin-bottom: 12.5vw;

			.img-caption {
				text-align: center;
				width: 100%;
				font-size: 5vw;
				padding: 10vw 5vw 6vw;
			}

			img {
				position: absolute;
				top: 0;
				right: 50%;
				width: 85%;
				transform: translate(50%, -85%);
			}
		}

		.text-wrapper {
			width: 100%;
			transform: translateY(0%);
			margin-bottom: 10vw;

			.title {
				text-align: center;
				font-size: 5vw;
				padding-left: 0;
				margin-bottom: 6vw;
			}

			.subtitle {
				border-left: .5vw solid #000000;
				padding-left: 7.5vw;
				margin-left: 0;
				font-size: 4.25vw;
			}
		}
	}

	.gifts {
		padding: 50vw 0 13.5vw;

		.section-inner {
			width: 90%;
		}

		.section-title {
			margin: 13.25vw 0 7.5vw;

			.title {
				font-size: 6.25vw;
			}
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__item {
			width: 50%;

			&:not(:last-child) {
				margin-bottom: 7.5vw;
			}
		}
	}

	.knowledge {
		background-size: auto 100%;
		background-position: 20vw 50%;
		padding: 5vw 0 5vw;
		position: relative;

		.section-title {
			margin-bottom: 7vw;

			.title {
				width: 100%;
				font-size: 6.5vw;
			}
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			width: 100%;
			max-height: none;

		}

		&__item {
			width: 60%;
			padding-left: 0;
			margin-bottom: 7.5vw;
			color: #000000;

			&:first-child {
				margin-top: 2vw;
				width: 75%;
			}

			.counter {
				position: relative;
				top: 0;
				left: 0;
				font-size: 7.5vw;
				margin-right: 2.5vw;
			}

			.text {
				font-size: 3.5vw;
				width: auto;
			}
		}

		&__bottom {
			display: flex;
			align-items: flex-start;
			margin-top: 4.25vw;

			.link-container {
				width: 100%;
				margin-right: 0;
			}

			.author {
				background: rgba(255, 255, 255, .85);
				position: absolute;
				right: 0;
				bottom: 7.5%;
				max-width: none;
				margin: 2vw 0;
				padding: 3vw 10vw 3vw 3vw;

				&:before {
					width: .5vw;
					height: 90%;
				}


				.name {
					font-size: 5vw;
					margin-bottom: 1vw;
				}

				.position {
					font-size: 3vw;
				}
			}
		}
	}

	.about {
		background-position: left bottom;
		padding: 7vw 0;

		.section-inner {
			width: 100%;
		}

		&__wrapper {
			width: 100%;
			margin: 0 auto;
			align-items: flex-start;

			.img-wrapper {
				order: 2;
				width: 50%;
				padding-left: 4vw;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.text-wrapper {
				order: 1;
				width: 100%;
				padding: 0 4vw;
				margin-bottom: 7.5vw;

				.achievements {
					padding-left: 4.5vw;

					&__item {
						font-size: 4.5vw;

						&:not(:last-child) {
							margin-bottom: 3.5vw;
						}
					}
				}
			}
		}

		&__writing {
			order: 3;
			background: transparent;
			flex-direction: column;
			width: 50%;
			padding: 0;
			margin: 0 0 4vw;

			.guide {
				align-self: flex-end;
				background: rgba(194, 199, 205, .9);
				color: #000000;
				font-size: 4vw;
				margin: 0 0 5vw;
				padding: 2vw;
			}
		}

		.writing-gallery {
			flex-direction: column;
			align-items: flex-start;
			padding-left: 3vw;

			&__item {

				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 3vw;
				}
			}
		}

		.link-container {
			order: 4;
			width: 100%;
			margin-top: 7vw;
		}
	}

	.reviews {
		padding: 10vw 0 15vw;

		.section-inner {
			width: 100%;
		}

		.section-title {
			margin-bottom: 10vw;

			.title {
				font-size: 5.5vw;
			}
		}

		&__wrapper {
			display: block;
		}

		&__item {
			width: 100%;
			height: 45vw;
			margin: 0 0 7.5vw;

			.item-container {
				width: 70%;
				margin: 0 auto;
			}

			.item-text {
				padding: 1.75vw;

				.name {
					margin-bottom: 0;
					font-size: 5vw;
				}

				.positions {
					width: 75%;
					font-size: 5vw;
				}

				.separator {
					width: 45%;
					height: .25vw;
					margin: 1vw 0;
				}

				.comment {
					font-size: 5vw;
					font-weight: 300;
					width: 85%;
				}
			}

			.btn-play {
				$size: 8.5vw;

				width: $size;
				height: $size;

				.icon {
					font-size: 3.5vw;
				}
			}

			&.full-width {
				width: 100%;
				height: 45vw;
				margin: 0 0 7.5vw;

				.item-container {
					width: 70%;

					.item-text {
						padding: 1.75vw;

						.name {
							font-size: 5vw;
						}

						.positions {
							width: 75%;
							font-size: 3vw;
						}

						.separator {
							width: 45%;
							height: .35vw;
							margin: 2.5vw 0;
						}

						.comment {
							font-size: 5vw;
							font-weight: 300;
							width: 85%;
						}
					}
				}

				.btn-play {
					$size: 8.5vw;

					width: $size;
					height: $size;

					.icon {
						font-size: 3.5vw;
					}
				}
			}
		}

		.slick-arrow {
			z-index: 3;
			color: #000000;
			font-size: 7vw;

			&:before {
				display: none;
			}
		}

		.slick-prev {
			left: 3%;
		}

		.slick-next {
			right: 3%;
		}

	}

	.nuances {
		padding: 50vw 0 5vw;

		.section-inner {
			width: 90%;
		}
	}
}
